*{
    padding:0px;
    margin: 0px;
    color:white;
}

body{
    background-color: black;
    user-select: none;
}

*::-webkit-scrollbar{
    display: none;
}

.pageClass1{
    position: absolute;
    left: 0px;
    top:0px;
    width:100vw;
    height:100vh;

    background-color: rgba(0, 38, 255, 0.034);
}

.fullPageClass1{
     position: absolute;
    left: 0px;
    top:0px;
    width:100vw;
    height:100vh;

    
}
.centerPageClass1{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.buttonClass1{
    width:100px;
    height:40px;

    background-color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    
    
}

.buttonClass1:hover{
    background-color: rgb(25, 0, 255);
}

.centerPageClass2{
    display: flex;
    align-items:center;
 
    justify-content:flex-start;

    flex-direction: column;

    overflow-y: scroll;
}

.seasonButClass1{
    width:200px;
    height:40px;

    background-color:  rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

}

.seasonButClass1:hover{
   

    background-color: rgba(0, 26, 255, 0.781);
   

}

.seasonButSelClass1{
    width:200px;
    height:40px;

    background-color: rgb(75, 68, 3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.seasonButSelClass1:hover{
   

    background-color: rgba(0, 26, 255, 0.781);
   

}

.episodeButClass1{
    width:200px;
    height:40px;

    margin:20px auto 20px auto;

    background-color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.episodeButClass1:hover{
   

    background-color: rgba(0, 26, 255, 0.781);
   

}



#solvingBar{
    position: absolute;
    left:calc((100vw - 262px)/2);
    top:70px;
    width:262px;
    height:420px;

 

    border-radius: 20px;
}

#solvingInnerBar1{
    position: absolute;
    left:5px;
    top:20px;
    width:252px;
    height:252px;

    background-color: rgb(13, 10, 37);


}

#viewPageTitle{
    width:90vw;
    height:auto;
    
    text-align:justify;
    
}



